<div class="modal-content">
	<div class="modal-body">{{'dwConfirmationLbl' | translate}}? </div>
	<div class="pmd-modal-action text-right">
        <!-- <div ng-init="myVar = confirmDWFileCtrl.filePath">
            <p><a ng-href="{{myVar}}">{{'DownloadSample' | translate}}</a></p>
        </div> -->
		<button class="btn pmd-ripple-effect btn-primary pmd-btn-flat" type="button" ng-click="confirmDWFileCtrl.Confirm()">{{'AddBtn' | translate}}</button>
		<button class="btn pmd-ripple-effect btn-default pmd-btn-flat" type="button" ng-click="confirmDWFileCtrl.close()">{{'cancelBtn' | translate}}</button>
	</div>
</div>
