<style id="dynamicStyleView">
</style>

<div class="row">
        <div class="col-md-3"></div>
    <div class="col-md-2">
            <button ng-show="false" class="btn pmd-ripple-effect btn-primary" type="button">{{'ConfirmBtn' | translate}}</button>
    </div>
    <div class="col-md-1">
        <button ng-show="false" class="btn pmd-ripple-effect btn btn-danger" type="button">{{'RejectBtn' | translate}}</button>
    </div>
</div>

<div  class="viewInvClass" ng-bind-html="htmlTag">
</div>
<!-- <div  class="modal-body" ng-bind-html="htmlTag" style=" background-image: URL({{imageUrl}}); height: 200%;background-repeat: no-repeat;">
</div> -->




